<link rel="stylesheet" href="searchbar.component.css">

<body>
    <form (ngSubmit)='searchUser()' #searchForm='ngForm' class="row">
        <div class="col">
            <div class="row">

                <h2>Search on Developer's repositories and<br> their details</h2>
                <input [(ngModel)]="user.userName" type="search" class="box" value="" name="userName">
                <p>Details included are: Repos,projects,followers & following</p>
            </div>

        </div>
        <div class="col">
            <button type="submit" value="search">search</button>
        </div>
    </form>
</body>