<link rel="stylesheet" href="searchbar.component.css">

<body>
    <div class="row">
        <div class="col">
            <div class="row">
                <h2>Search on Developer's repositories and<br> their details</h2>
                <input type="text" class="box" value="" id="day">
                <p>Details included are: Repos,projects,followers & following</p>
            </div>

        </div>
        <div class="col">
            <button>Search</button>

        </div>
    </div>
</body>