<link rel="stylesheet" href="navbar.component.css">
<div class="row">
    <div class="col">
        <div class="navbar">
            <img src="https://github.com/MosesOpiyo/GitSearch/blob/master/images/gh5.jpg?raw=true">
            <h1>GitSearch</h1>
        </div>

    </div>
    <div class="col">
        <ul>
            <li><a href="#">License</a></li>
            <li><a href="#">ReadMe</a></li>
        </ul>
    </div>
    <div class="col">
        <button type="button">GitHub</button>
    </div>
</div>