<h2>Repositories</h2>
<div *ngFor='let repo of ghRepos' class="card">
    <ul class="list-group">
        <li class="list-group-items">
            <h3 class="primary-text">{{repo.repoName}}</h3>
            <p>{{repo.repodescription}}</p>
            <div class="row">
                <div class="col">
                    <p>{{repo.repolanguage}}</p>
                </div>
                <div class="col">updates</div>
            </div>
            <p>{{repo.repoStars}}</p>

        </li>

    </ul>
</div>