<app-searchbar (submitted)='getUser($event)'></app-searchbar>

<body *ngIf='showInfo'>
    <div class="row">
        <div class="col">
            <div class="pic">
                <img src="{{userProfile.avatar}}">
            </div>
            <h1>{{userProfile.userName}}</h1>
            <p>{{userProfile.userName}}</p>
            <h4>{{userProfile.bio}}</h4>

        </div>

        <div class="col">
            <div class="container">
                <div class="row-2">
                    <div class="col">
                        <div class="box">
                            <h2>{{userProfile.followers}} followers</h2>
                        </div>

                    </div>
                    <div class="col">
                        <div class="box">
                            <h2>{{userProfile.following}} following</h2>
                        </div>

                    </div>
                </div>

                <hr>
                <app-gh-repos [ghRepos]="ghRepos"></app-gh-repos>
            </div>
        </div>
    </div>

</body>